.gaucheCompte{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    background: var(--dark1);
    width: 40%;
    max-height: 90vh;
    margin-top: 61px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.droiteCompte{
    margin-top: 61px;
    display: flex;
    flex-direction: column;
    width: 60%;
    max-height: 90vh;
    background: var(--black);   
}

.gaucheCompte .divTitreCompte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divTitreCompte p{
    color: var(--white);
    font-size: var(--font4);
    color: var(--gray);
}

.gaucheCompte form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.gaucheCompte form .divContenueCompte{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gaucheCompte form .divButtonCompte{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divButtonCompte button{
    background: var(--orange);
    color: white;
    height: 50px;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: var(--font3);
}

.divButtonCompte button:hover{
    background: var(--orange1);
}

.divBtn button{
    background: var(--dark3);
    color: white;
    height: 50px;
    border: none;
    border-radius: 5px;
    width: 20%;
    margin-left: 10px;
}

.divBtn button:hover{
    background: var(--gray);
}

.divContenueCompte label{
    color: var(--orange);
    font-size: var(--font3);
    text-align: left;
    margin-left: 10px;
    padding-bottom: 5px;
}

.divContenueCompte input{
    background: var(--black);
    border: none;
    border-radius: 5px;
    height: 50px;
    color: var(--gray);
    padding-left: 10px;
    padding-right: 10px;
    font-size: var(--font3);
}

.divContenueCompte input:focus{
    outline: 0.1px dashed var(--orange);
    box-shadow: 0 0 5px rgba(247, 149, 38, 0.3);
}

.droiteCompte .imageCompte{

    height: 85%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 16px;
}

.imageCompte .photoCompte{
    width: 100%;
    height: 75%;
}

.imageCompte .divInputTitre{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imageCompte .divBtn{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.photoCompte img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
}
.divTitreCompte .titreInput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titreInput p{
    color: var(--gray);
    margin-left: 7px;
}

.titreInput button{
    color: var(--orange);
    padding: 13px 15px 13px 15px;
    background: none;
    border: 0.1px solid var(--orange);
    border-radius: 5px;
    font-size: var(--font3);
    margin-left: 10px;
}

.titreInput button:hover{
    background: var(--orange);
    color: var(--white);
}

.imageCompte .inputBtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}

.inputBtn label{
    color: var(--orange);
    padding: 13px 15px 13px 15px;
    background: none;
    border: 0.1px solid var(--orange);
    border-radius: 5px;
    font-size: var(--font3);
    margin-left: 10px;
}


.inputBtn label:hover{
    background: var(--orange);
    color: var(--white);
}

.inputBtn input{
    display: none;
}


