.textConge h2 a{
    text-decoration: none;
    color: var(--orange1);
}

.textConge h2 a:hover{
    text-decoration: underline;
}

/* ! */

.Modal {
    background: var(--dark);
    color: var(--gray);
    font-size: var(--font1);
    border: 0.1px solid var(--dark2);
    padding: 20px;
    border-radius: 10px;
    max-width: 420px;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Modal h2{
    font-size: var(--font2);
}

.Modal h3{
    font-size: var(--font3);
    color: var(--orange);
    text-align: center;
}

.ModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.coucheBtn p{
    font-size: var(--font3);
    margin: 10px;
}

.Modal button {
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
