


.navContainer{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, var(--dark1), var(--dark2), var(--dark1));
    width: 100%;
    border-bottom: 1px solid var(--dark3);
    position: fixed;
}


.navContainer .navCouche{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

.navCouche .navPrim{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.navPrim img{
    width: 30px;
    height: 30px;
}
.iconPrim img{
    width: 20px;
    height: 20px;
}
.iconDem img{
    width: 20px;
    height: 20px;
}

.navCouche .navDem{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.iconPrison{
    background: var(--green);
    border-radius: 50%;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    animation: rotation 10s linear infinite;
}

@keyframes rotation {
    5% {
        transform: rotate(0deg);
    }
    1% {
        transform: rotate(360deg);
    }
}

.textPrison{
    display: flex;
    justify-content: center;
    align-items: center;
}

.textPrison p{
    color: var(--orange);
    font-size: var(--font5);
    padding-left: 0px;
    padding-right: 9px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-left: 0px;
    margin-top: 9px;
    margin-bottom: 9px;
    margin-right: 9px;
}
.navDem .iconPrim{
    display: flex;
    align-items: center;
    background: var(--dark3);
    border-radius: 50%;
    padding: 10px;
}

.iconPrim:hover{
    background: var(--gray);
}
.iconDem:hover{
    background: var(--gray);
}

.iconDem{
    display: flex;
    align-items: center;
    background: var(--dark3);
    border-radius: 50%;
    padding: 10px;
}

.navDem .photo img{
    width: 39px;
    height: 39px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 1px solid var(--black);
}

.navDem .photo{
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 10px;
}

.navDem .photo .photo-bg{
    top: 0;
    left: 0;
    background-color: transparent;
    position: absolute;
    width: 39px;
    height: 39px;
    border-radius: 50%;
}

.navDem .photo:hover img{
    border: 1px solid var(--gray);
}
.navDem .photo:hover .photo-bg{
    background-color:rgba(255, 255, 255, 0.2);
}

.navDem button img{
    width: 30px;
    height: 30px;
}

.navDem button{
    border: none;
    background: var(--dark3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    margin-right: 10px;
    width: 40px;
    height: 40px;
}
.navDem button:hover{
    background: var(--gray);
}



/* ! Notification */

.notificationWindow {
    position: absolute;
    margin-top: 61px;
    right: 0;
    width: 350px;
    background: var(--dark);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
    max-height: 90vh;
    overflow-y: auto;
}  

.titreNotif {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.titreNotif p {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    color: var(--gray);
    text-align: left;
}

.divContainerNotif {
    margin-top: 10px;
}

.divContainerNotif a{
    text-decoration: none;
}

.contenueNotif {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    margin: 10px;
    background: var(--dark1);
    border-radius: 5px;
    padding: 10px;
    border: 0.1px solid var(--dark2);
}

.contenueNotif:hover{
    background: var(--dark2);
}

.coucheContenue {
    display: flex;
    align-items: center;
}

.coucheContenue .imageNotif{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageNotif img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 10px;
}

.descriptionNotif {
    flex-grow: 1;
}

.descriptionNotif h6 {
    padding: 0 0 2px 0;
    margin-left: 10px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    color: var(--orange);
    font-size: var(--font2);
    text-align: left;
    width: 100%;

}

.descriptionNotif p {
    padding: 0;
    margin: 0;
    width: 100%;
    color: var(--gray);
    font-size: var(--font2);
    text-align: left;
}

.profileDropdown {
    position: absolute;
    top: 61px;
    width: 20%;
    right: 10px;
    background-color: var(--dark);
    border: 1px solid var(--dark2);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdownContent {
    padding: 10px;
}

.dropdownContent a {
    text-decoration: none;
}

.dropdownContent button {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: 5px 10px;
    background-color: var(--dark1);
    color: var(--gray);
    border: none;
    border-radius: 5px;
    height: 50px;
    cursor: pointer;
}

.dropdownContent button:hover{
    background: var(--dark2);
}

.dropCompte{
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 5px;
    gap: 10px;
}

.dropCompte:hover{
    background: var(--dark2);
}

.dropCompte .divImage{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropCompte .textDrop{
    display: flex;
    justify-content: center;
    align-items: center;
}

.divImage img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.textDrop p{
    color: var(--gray);
    font-size: var(--font2);
}

.dropdownContent button .divImage{
    display: flex;
    justify-content: left;
    align-items: center;
}
.dropdownContent button .divImage img{
    width: 20px;
    height: 20px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.dropdownContent button .text p{
    color: var(--gray);
}


/* ! Modal confirmation */

.confirmationModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background-color: var(--dark1);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--gray);
    text-align: center;
}

.modalActions {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.modalContent h3{
    color: var(--orange);
    font-size: var(--font3);
}
.modalContent p{
    color: var(--gray);
    font-size: var(--font2);
}

.ok{
    border: none;
    background: var(--orange);
    color: var(--white);
    border-radius: 5px;
    width: 50%;
    height: 40px;
}

.annuler{
    border: none;
    background: var(--dark2);
    color: var(--white);
    border-radius: 5px;
    width: 50%;
    height: 40px;
}

.ok:hover{
    border:1px solid var(--orange);
    background: none;
    color: var(--orange);
}

.annuler:hover{
    border:1px solid var(--gray);
    background: none;
    color: var(--gray);
}

