.containerAfficher{
    display: flex;
    justify-items: center;
    align-items: center;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    padding-top: 61px;
    background: var(--black);
}

.coucheAfficher{
    display: flex;
    background: var(--dark);
    width: 100%;
    min-height: 100vh;
    border-radius: 0 0 10px 10px;
}

.gaucheAfficher{
    width: 35%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    background: var(--dark1);
    border-radius: 0 0 10px 10px;   
}
.imageUser{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageUser img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    border: 2px solid var(--gray);
}
.titreAfficher{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.titreAfficher p{
    color: var(--orange);
    margin-bottom: 35px;
    font-size: var(--font2);
}
.droiteAfficher{
    width: 65%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.listeLabel{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 15px;
    padding-right: 20px;
    padding-left: 20px;
}
.listeLabel label{
    text-align: left;
    background: var(--black);
    color: var(--gray);
    padding: 20px;
    border-radius: 10px 0 10px 0;
    font-size: var(--font2);
}

.inputAfficher form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 10px;
}

.inputAfficher .inputItem{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.inputItem label{
    color: var(--orange);
    text-align: left;
    margin-left: 10px;
    font-size: var(--font2);
}

.inputItem input{
    background: var(--black);
    color: var(--gray);
    border: none;
    height: 50px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: var(--font2);
}

.inputItem input:focus{
    outline: 0.1px dotted var(--orange);
}

.inputItem button{
    height: 50px;
    color: var(--white);
    background: var(--orange);
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
}

.inputItem button:hover{
    background: var(--orange1);
}

.droiteAfficher .p{
    text-align: left;
    margin-left: 20px;
    font-size: var(--font2);
}

.p a{
    text-decoration: none;
    color: var(--orange);
}

.p a:hover{
    text-decoration: underline;
    color: var(--orange1);
}

